:root {
    --input-border: 4px solid rgb(230, 230, 230);
}
  
.board{
    width: 30vw;
    height: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
    }

.input {
    color: darksalmon;
    font-size: 3rem;
    cursor: default;
    height: 33.33%;
    width: 33.33%;
    text-align: center;
    padding: 4%;
}
  
 .input-1, .input-2, .input-4, .input-5{
    border-right: var(--input-border);
    border-bottom: var(--input-border);
}
  
.input-3, .input-6{
    border-bottom: var(--input-border);
}
  
.input-7, .input-8{
    border-right: var(--input-border);
}

@media (max-width: 320px) {
    .board {
    padding: 10px 0;
    width: 65vw;
    }
    .input {
        padding: 6%;
    }
}
  
@media (max-width: 375px) and (min-width: 321px)  {
    .board {
    width: 65vw;
    }

    .input {
        padding: 6%;
    }
}

@media (max-width: 425px) and (min-width: 376px)  {
    .board {
    width: 60vw;
    padding: 10px 0;
    }

    .input {
        padding: 6%;
    }
}

@media (max-width: 768px) and (min-width: 426px)  {

    .input {
        padding: 6%;
    }
}


